body {
    font-family: "ClashDisplay-Variable", sans-serif;
    margin: 0;
    padding: 0;
}
.visually-hidden{
    display: none;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
}

.header__content {
    /* width: 100%; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;

}

.header__content::after {
    content: "";
    background: rgba(0, 0, 0, 0.10);
    width: 96%;
    height: 2%;
    left: 2%;
    bottom: 1%;
    position: absolute;

}

.header__content a {
    color: #22202E;
    text-decoration: none;
    font-weight: 400;

}

ul {
    display: flex;
    gap: 44px;
}

ul li {
    list-style: none;
}

ul li a {
    color: #22202E;
    cursor: pointer;
}

.header__categories {
    display: flex;
    justify-content: center;
}
.header__categories li{
    cursor: pointer;
}

.header__categories-item {
    color: #726E8D;
    font-family: "Satoshi", sans-serif;
    font-weight: 300;
}

/* Features */

.features__banner{
    height: 704px;
    position: relative;
    background-image: url("/img/BannerImg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

} 
.features__banner-textblock{
    background: #FFF;
    position: absolute;
    width: 513px;
    height: 350px;
    padding: 48px 61px 46px 56px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* gap: 157px; */
    right: 5%;
    top: 15%;

}
.features__banner-title{
    font-size: 32px;
    margin-bottom: 20px;

}
.features__banner-textblock-btn{
    background-color: #F9F9F9;
    border: none;
    padding: 16px 32px;
    width: 170px;
}